<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Damion|Happy+Monkey|Niconne|Syncopate|Athiti|Montserrat"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>Tic Tat®</title>

</head>
<body>

<div id="header">
    <nav>
        <div class="containerButtons">
            <div class="naviButton">
                <a type="text/css" th:href="@{/home}">Home</a>
            </div>
            <div class="naviButton">
                <a type="text/css" th:href="@{/base}">Products Base</a>
            </div>
            <div class="naviButton">
                <a type="text/css" th:href="@{/add-product}">Edit</a>
            </div>
        </div>
    </nav>
</div>
<div layout:fragment="content"></div>
<div id="footer">

    <div class="container">
        <footer>
            <adress><p> © TitTac Co®</p></adress>
            <p>2018</p>
        </footer>
    </div>
</div>
</body>

</html>