<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<link rel="stylesheet" th:href="@{/css/main.css}"
      href="../../css/main.css"/>


<body>
<section layout:fragment="content">

    <div class="centred">
        <h1 id="titleForm">Login:</h1>
        <div class="errorMessage">
            <div th:if="${param.error}">
                Invalid username or password.
            </div>
        </div>
        <!-- <div th:if="${param.logout}">
             You have been logged out.
         </div>-->
        <form th:action="@{/login}" method="post">
            <div id="logBox">
                <table id="loginForm">
                    <tr>
                        <td> E-mail :</td>
                        <td><input type="email" name="mailAdress"/></td>
                    </tr>
                    <tr>
                        <td> Password:</td>
                        <td><input type="password" name="password"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Sign In"/></td>
                    </tr>
                </table>
            </div>
        </form>

    </div>
</section>
</body>


</html>
