<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<link rel="stylesheet" th:href="@{/css/main.css}"
      href="../../css/main.css"/>


<body>
<section layout:fragment="content">

    <div class="usersList">
        <h1>List of all users</h1>
        <table>
            <tr>

                <th class="allProducts">Name</th>
                <th class="allProducts">Last Name</th>
                <th class="allProducts">Mail</th>
                <th class="allProducts">Password</th>
                <th class="allProducts">Country</th>
                <th class="allProducts">City</th>
                <th class="allProducts">Code</th>
                <th class="allProducts">Street</th>
                <th class="allProducts">Number</th>

            </tr>


            <tr th:each="user : ${users}" id="allProducts">

                <td class="data" th:text="${user.name}"></td>
                <td class="data" th:text="${user.lastName}"></td>
                <td class="data" th:text="${user.mailAdress}"></td>
                <td class="data" th:text="${user.password}"></td>
                <td class="data" th:text="${user.adress.country}"></td>
                <td class="data" th:text="${user.adress.city}"></td>
                <td class="data" th:text="${user.adress.postCode}"></td>
                <td class="data" th:text="${user.adress.street}"></td>
                <td class="data" th:text="${user.adress.houseNumber}"></td>
            </tr>
        </table>


    </div>


</section>
</body>

</html>