
.icon-mail:before {
    content: '\e800';
}

/* '' */
.icon-plus:before {
    content: '\e801';
}

/* '' */
.icon-left-big:before {
    content: '\e802';
}

/* '' */
.icon-right-big:before {
    content: '\e803';
}

/* '' */
.icon-cancel:before {
    content: '\e804';
}

/* '' */